@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="~/Content/Areas/Blog.css" />
</head>

<body style="background-color: #000000">

  <div class="blogauthor-create-h4container">
  <h4>Blog Author Create</h4>
   </div>

  <div class="blogauthor-create-container">


    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-10" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-10" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "blogauthor-create-bioheight" } })
            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="blogauthor-create-rows flex justify-content-around align-items-start">
          <div class="form-group">
            @Html.LabelFor(model => model.JoinedDate, htmlAttributes: new { @class = "control-label col-md-20 w-100" })
            <div class="col-md-20 w-100">
              @Html.EditorFor(model => model.JoinedDate, new { htmlAttributes = new { @type= "datetime-local", @class = "form-control datepicker"} })
              @Html.ValidationMessageFor(model => model.JoinedDate, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.LeftDate, htmlAttributes: new { @class = "control-label col-md-20 w-100" })
            <div class="col-md-20 w-100">
              @Html.EditorFor(model => model.LeftDate, new { htmlAttributes = new { type = "datetime-local", @class = "form-control datepicker"} })
            </div>
          </div>
        </div>

        <div class="blogauthor-create-rows">
          <div class="blogauthor-create-backbtn">
            @Html.ActionLink("Back to List", "Index",null,new {style="text-decoration:none;"})
          </div>

          <input type="submit" value="Create" class="blogauthor-create-savebtn" />
        </div>
      </div>
    }

  </div>
  @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  }

</body>